@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Variables pour le mode clair */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --secondary: 210 40% 96.1%;
  }

  .dark {
    /* Variables pour le mode sombre */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  /* Application des variables au corps du document */
  body {
    @apply bg-background text-foreground;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
